.sectionAbout {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
}

.whoAmI {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.sectionTitle {
    margin-bottom: 8rem;
    text-align: center;
}

.sectionSubtitle {
    margin-bottom: 2rem;
}

.sectionParagraph {
    padding-bottom: 0.5rem;
}

.sectionContent {
    display: flex;
}
