/* Typewriter effect */
.typewriter span {
    display: inline-block;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    padding-right: 3px;
    animation: blink 0.8s infinite;
}

/* Cursor blinking */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Glitch effect */
.glitch span {
    position: relative;
    display: inline-block;
    color: #fff;
    text-shadow: 2px 2px rgba(255, 0, 0, 0.6), -2px -2px rgba(0, 255, 0, 0.6);
    animation: glitch-animation 0.2s infinite;
}

@keyframes glitch-animation {
    0% {
        transform: translate(1px, -1px);
    }
    25% {
        transform: translate(-1px, 1px);
    }
    50% {
        transform: translate(1px, 1px);
    }
    75% {
        transform: translate(-1px, -1px);
    }
    100% {
        transform: translate(1px, -1px);
    }
}

/* Matrix Background */
.matrix-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

#landing-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100vw;
    gap: 2rem;
    color: white;
}

/* Base Styles */
#landing-header h1 {
    z-index: 1;
    font-size: 3rem;
}

#landing-header h2 {
    z-index: 1;
    font-size: 2.5rem;
}

/* Laptop & Smaller Screens */
@media (max-width: 1600px) {
    #landing-header h1 {
        font-size: 2.5rem;
    }
    #landing-header h2 {
        font-size: 2.25rem;
    }
}

/* Tablet */
@media (max-width: 1024px) {
    #landing-header h1 {
        font-size: 2rem;
    }
    #landing-header h2 {
        font-size: 1.75rem;
    }
}

/* Large Phones */
@media (max-width: 768px) {
    #landing-header h1 {
        font-size: 1.75rem;
    }
    #landing-header h2 {
        font-size: 1.5rem;
    }
}

/* Small Phones */
@media (max-width: 480px) {
    #landing-header h1 {
        font-size: 1.5rem;
    }
    #landing-header h2 {
        font-size: 1.25rem;
    }
}
