.project {
    padding-bottom: 3rem;
    display: flex;
    gap: 2rem;
}

.projectName {
    margin-bottom: 1.25rem;
}

/* Section Paragraph */
.sectionParagraph {
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
}

.projectDesc {
    flex: 2;
}

.project ul {
    padding-left: 1.25rem;
    list-style-type: disc;
}

.project li {
    font-size: 1.25rem;
    padding-left: 1.25rem;
    margin-bottom: 0.5rem;
}

.projectImg {
    flex: 1;
    display: flex;
}

.projectImg img {
    width: 100%;
    height: auto;
}

/* 🖥 Desktop (Default) */
@media (max-width: 1600px) {
    .projectDesc {
        font-size: 1.25rem;
    }

    .project {
        flex-wrap: wrap;
    }
}

/* 📱 Tablets (1024px and below) */
@media (max-width: 1024px) {
    .project {
        flex-direction: column-reverse;
    }

    .projectImg {
        justify-content: center;
    }

    .projectImg img {
        width: 75%;
    }
}

/* 📱 Large Phones (768px and below) */
@media (max-width: 768px) {
    .sectionTitle {
        margin-bottom: 4rem;
    }

    .sectionTitle {
        margin-bottom: 3rem;
    }

    .sectionParagraph {
        padding-bottom: 0.25rem;
        font-size: 1rem;
    }

    .project ul {
        padding-left: 1rem;
    }

    .project li {
        padding-left: 0.5rem;
        font-size: 1rem;
    }
}

/* 📱 Small Phones (480px and below) */
@media (max-width: 480px) {
    .projectName {
        font-size: 1.25rem;
    }
}
