/* Reset & Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    color: white;
    background-color: black;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: capitalize;
}

/* List Styling */
ul {
    list-style: none;
}
